.homepage {
  font-family: 'Raleway', sans-serif;
  display: grid;
  grid-template-areas:
    'aside'
    'header'
    'main';
  color: #E7E7EB;

    aside{
      grid-area: aside;
      position: relative;
      background-color: #1E213A;
      padding: 2rem 0;
      
      .actual-weather-buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;

        .gps-icon {
          cursor: pointer;
        }
      }

      .geolocation-weather-card {
        z-index: 1;
      }

    
      .weather-loading{
        margin-top: 200px;
      }

      .weather-info {
        display: flex;
        justify-content: center;
      }

      .weather-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        z-index: 1;
        margin-bottom: 5rem;
      }

      .actual-temp {
        font-size: 8rem;
        margin-bottom: 5rem;
      }
    }

    aside::before {
      content: '';
      position: absolute;
      background: url('../assets/Cloud-background.png') no-repeat 80% 60%;
      opacity: 0.3;
      width: 100%;
      height: 70%;
      z-index: 0;
    }

    main {
      background-color: #100E1D;
    } 

    header {
      background-color: #100E1D;
      min-height: 500px;
      
    }
}


@media (min-width: 600px){
  .homepage {
      grid-template-areas: 
        'aside header header'
        'aside main main';
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 2fr 3fr;
      max-height: 100vh;
    }

  header {
    grid-area: header;
    padding: 0 7rem;
  }

  main {
    grid-area: main;
  }
  
  aside {
    grid-area: aside;
  
  }
}
